@import "@syncfusion/ej2-base/styles/tailwind.css";
@import "@syncfusion/ej2-buttons/styles/tailwind.css";
@import "@syncfusion/ej2-calendars/styles/tailwind.css";
@import "@syncfusion/ej2-dropdowns/styles/tailwind.css";
@import "@syncfusion/ej2-inputs/styles/tailwind.css";
@import "@syncfusion/ej2-lists/styles/tailwind.css";
@import "@syncfusion/ej2-navigations/styles/tailwind.css";
@import "@syncfusion/ej2-popups/styles/tailwind.css";
@import "@syncfusion/ej2-splitbuttons/styles/tailwind.css";
@import "@syncfusion/ej2-schedule/styles/tailwind.css";
@import "@syncfusion/ej2-icons/styles/tailwind.css";

.template-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.price-tag {
    color: #C5C5C5;
    text-align: center;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.custom-event-editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    height: 400px;
}

.flex-prop {
    width: 100%;
    align-items: flex-end;
    margin-top: 5px;
}

.e-search-box {
    width: 100%;
}

.resource-dropdown {
    grid-area: 5/1/5/-1;
}

.custom-event-editor .e-search-box {
    margin-left: unset;
}

.e-schedule.app-scheduler .e-table-wrap .e-resource-column-wrap .e-resource-column-table .e-resource-cells.e-parent-node .e-resource-text {
    color: #3B82F6;
}

.e-schedule.app-scheduler .e-timeline-view .e-resource-left-td,
.e-schedule.app-scheduler .e-table-wrap .e-resource-column-wrap .e-resource-column-table .e-resource-cells.e-parent-node {
    border-right-color: transparent !important;
}

.e-schedule.app-scheduler .e-work-cells.e-resource-group-cells,
.e-schedule.app-scheduler .e-table-wrap .e-resource-column-wrap .e-resource-column-table .e-resource-cells.e-parent-node {
    height: 40px;
    max-height: 40px;
    min-height: 40px;
}

.e-schedule.app-scheduler .e-timeline-view .e-date-header-wrap .e-header-cells,
.e-schedule.app-scheduler .e-work-cells.e-resource-group-cells {
    border-left-color: transparent !important;
}

.e-people:before {
    content: '\e425';
}

#Adults,
#Children {
    width: 100%;
    height: 29px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background: #fff;
    border: 1px solid;
    border-radius: 4px;
    border-width: 1px;
    border-top-color: #d1d5db;
    border-right-color: #d1d5db;
    border-bottom-color: #d1d5db;
    border-left-color: #d1d5db;
}


@media screen and (max-width: 540px) {
    .custom-event-editor {
        grid-template-columns: 1fr;
    }

    .e-schedule.app-scheduler .e-table-container .e-schedule-table .e-resource-left-td {
        width: 140px
    }

    .e-schedule.app-scheduler .e-table-container .e-schedule-table .e-resource-text {
        font-size: 16px;
        padding: 4px 0px;
    }
}

@media screen and (max-width: 640px) {
    .custom-event-editor {
        grid-template-columns: 1fr;
    }
}