@import "@syncfusion/ej2-base/styles/tailwind.css";
@import "@syncfusion/ej2-buttons/styles/tailwind.css";
@import "@syncfusion/ej2-inputs/styles/tailwind.css";

.navigation-container .e-calendar .e-content.e-month,
.navigation-container .e-calendar .e-header.e-month .e-icon-container {
    display: none;
}

.navigation-container .e-calendar {
    box-shadow: none;
}

.navigation-container .e-previous-button .e-prev-icon::before {
    content: "\e738" !important;
}

.navigation-container .e-next-button .e-next-icon::before {
    content: "\e75c" !important;
}

.navigation-container .e-calendar {
    background: inherit;
    border: 0 !important;
}

.navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-container .e-calendar .e-header .e-day {
    margin-bottom: 7px;
    font-size: 20px;
}

.navigation-container .e-previous-button {
    background: inherit;
    border: 0;
    position: relative;
    left: 1%
}

.navigation-container .e-next-button {
    background: inherit;
    border: 0;
    position: relative;
    right: 15%
}


@media screen and (max-width: 540px) {
    .navigation-container .e-previous-button {
        right: 2%
    }

    .navigation-container .e-next-button {
        right: 16%
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container .new-button {
    width: 130px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #6F47FF;
    color: #FFFFFF;
}

.button-container .new-button span {
    position: relative;
    left: -5px;
    bottom: 1px;
}

.button-container .filter-button {
    margin-right: 30px;
    visibility: hidden;
}

.button-container .new-button.e-btn:hover,
.button-container .new-button.e-btn:focus {
    background: #6F47FF;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .button-container .filter-button {
        visibility: visible;
    }
}

@media screen and (max-width: 640px) {
    .button-container {
        margin-bottom: 5px;
    }

    .button-container .new-button span {
        position: relative;
        left: -1px;
        bottom: 1px;
    }
}

@media screen and (max-width: 640px) {
    .button-container .new-button {
        z-index: 1000;
        position: absolute;
        bottom: 15px;
        right: 15px;
        border-radius: 62px;
        height: 60px;
        width: 60px;
    }
}