@import "@syncfusion/ej2-base/styles/tailwind.css";
@import "@syncfusion/ej2-navigations/styles/tailwind.css";

.e-sidebar.app-sidebar {
    background-color: #fff;
    position: relative;
}

.e-sidebar.app-sidebar .calendar-container {
    border-bottom: 1px solid #E0F2FE;
    padding: 24px;
}

.e-sidebar.app-sidebar .filter-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.e-sidebar.app-sidebar .filter-container .filter-label {
    color: #94A3B8;
    font-size: 12px;
    font-weight: 500;
    height: 20px;
    line-height: 16px;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .e-sidebar.app-sidebar {
        visibility: hidden;
    }
}

@media screen and (max-width: 640px) {
    .e-sidebar.app-sidebar {
        width: 236px !important;
    }
}